<% unless current_user.professional?%>
  <% if current_user.profile.nil? %>
    <% flash.now[:warn] = "Crie seu perfil antes de solicitar um orçamentos" %>
    <%= link_to "Criar Perfil", new_profile_path, class: "btn btn-dark" %>
  <% else %>
    <%= link_to 'Solicitar orçamento', new_order_path, class: "btn btn-dark" %>
  <% end %>
<% end %>

<h3>Pedidos de orçamentos</h3>

<ul class="list-group list-group-flush">
  <% @orders.each do |order| %>
      <li class="list-group-item">
        <%= link_to order.question_1, order %>
      </li>
  <% end %>
</ul>