<% unless current_user.professional?%>
  <p>
    <%= link_to 'Solicitar orçamento', new_order_path, class: "btn btn-dark" %>
  </p>
<% end %>

<h3>Pedidos de orçamentos</h3>

<ul class="list-group list-group-flush">
  <% @orders.each do |order| %>
      <li class="list-group-item">
        <%= link_to order.question_1, order %>
      </li>
  <% end %>
</ul>